# Project-specific folders
__pycache__
virtual*
dataset/__pycache__
dataset/Chair
screenshots
export_objs
grass_dataset_viewer/Chair
grass-master/Chair
.input_history


#ML Stuff
*.bmp
*.png

ML/baseML/checkpoint**
ML/ourML/checkpoint**

# Package Files
*.zip

# Bash
*.sh
*.mat
*.obj
*.txt
*.obb
DatasetUtils2.py
stat.py
Group6.pdf
