# Project-specific folders
__pycache__
virtual*
dataset/__pycache__
dataset/Chair
screenshots

#ML Stuff
*.bmp
*.png

ML/baseML/checkpoint**
ML/ourML/checkpoint**

# Package Files
*.zip

# Bash
*.sh
*.mat
*.obj
*.txt
*.obb
